---
# used for running pre-commit checks
name: pre-commit checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pre_commit_checks:
    # avoid running for pull requests from dependabot and instead rely on
    # dependabot-pre-commit.yml workflow.
    if: ${{ github.event_name != 'pull_request' ||
      github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install python env
        uses: ./.github/actions/install-python-env
      - name: Install vale dependencies
        run: |
          poetry run vale sync
      # run pre-commmit checks using prek for faster execution
      - uses: j178/prek-action@v1
        id: pre_commit
      # run pre-commit ci lite for automated fixes
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: ${{ !cancelled() && steps.pre_commit.outcome == 'failure' }}
